---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<!-- <meta name="generator" content={Astro.generator} /> -->
		<title>Astro</title>
	</head>
	<body>
		<h1>当我闭上眼睛，我看到的第一个人就是你；当我睁开眼睛，我想念的第一个人也是你。首小芳大傻逼</h1>
	</body>
</html>
